/* Importa las fuentes Raleway y Open Sans desde Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Reset de estilos básicos y box-sizing para control del tamaño */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo global del cuerpo */
body {
  color: #333;
  line-height: 1.5;
}

/* Encabezado de la página */
header {
  width: 100%;
  background: #000000;
  padding: 20px 10%;
}

/* Barra de navegación principal */
nav {
  display: flex;
  justify-content: space-between; /* separa logo y menú */
}

/* Logo dentro del nav */
nav #Logo img {
  width: 100px;
}

/* Contenedor de enlaces de navegación */
nav .navegacion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px; /* espacio entre enlaces */
}

/* Enlaces del menú de navegación */
nav .navegacion a {
  color: white;
  text-decoration: none;
  font-family: "Open sans", sans-serif;
  color: #c9c9c9;
}

/* Sección principal (Hero) */
.Hero {
  background: url(../assets/images/headerBg.png) center/cover no-repeat;
  position: relative;
  display: flex;
  padding: 4% 10%;
  height: 750px;
  justify-content: space-between;
}

/* Columna izquierda del Hero */
.Hero .Left {
  max-width: 700px;
  color: white;
}

/* Título dentro del texto del Hero */
.Hero .Left .text h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  margin: 20px 0px;
}

/* Línea decorativa bajo el texto */
.Hero .Left .text .Linea {
  display: block;
  width: 60px;
  height: 2px;
  background: white;
  margin-top: 30px;
}

/* Párrafo en la parte izquierda */
.Hero .Left .text p {
  padding: 30px 0px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  padding-right: 30px;
  font-size: 1rem;
  max-width: 550px;
  color: #B7B7B7;
}

/* Margen para el botón de descarga */
.Hero .Left .Button.Download {
  margin-top: 20px;
}

/* Estilos del enlace del botón de descarga */
.Hero .Left .Button.Download a {
  border: solid 2px white;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-decoration: none;
  color: white;
  padding: 10px 25px;
}

/* contenedor Hero lado derecho */

/* Contenedor del formulario en el lado derecho */
.Hero .Righ .Formulario {
  display: flex;
  flex-direction: column;
  margin-right: 10%;
  width: 328px;
  font-family: "Open Sans", sans-serif;
  align-content: center;
}

/* Encabezado del formulario */
.Hero .Righ .Formulario .EncabezadoForm {
  background: #f5f5f5;
  text-align: center;
  justify-content: center;
  padding: 10px 30px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

/* Color especial para el texto destacado en el encabezado del formulario */
.Hero .Righ .Formulario .EncabezadoForm span {
  color: #ff9b51;
}

/* Contenedor general del form */
.Hero .Righ form {
  display: flex;
  flex-direction: column;
  background: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Contenedor de los inputs */
.Hero .Righ form .inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

/* Inputs del formulario */
.Hero .Righ form .inputs input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #d6d6d6;
  outline: none;
}

/* Cambio de color de la línea al hacer foco */
.Hero .Righ form .inputs input:focus {
  border-bottom: 1px solid #333;
}

/* Ajuste del espacio interno del placeholder */
.Hero .Righ form .inputs input::placeholder {
  padding: 10px;
}

/* Espaciado entre cada campo */
.Hero .Righ form .inputs .formInput {
  margin-bottom: 40px;
}

/* Contenedor del botón del formulario */
.Hero .Righ form .buttonForm {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff9c5100;
}

/* Botón de envío */
.Hero .Righ form .buttonForm input {
  width: 100%;
  border: none;
  background: #ff9b51;
  color: white;
  padding: 20px 0px;
  font-size: 1rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Social Media */

.socialMedia {
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  background: #ffffff;
  border-bottom: #b7b7b7 2px solid;
}

.socialMedia .text {
  max-width: 450px;
  font-family: "Open Sans", sans-serif;
}

.socialMedia .text .parrafo {
  color: #B7B7B7;
}

.socialMedia .iconsSocial {
  display: flex;
  padding: 0px 0%;
  gap: 30px;
  height: 7rem;
  align-items: center;
  justify-content: center;
}

.tabs {
  display: flex;
  padding: 10%;
  background: #f5f5f5;
  justify-content: space-between;
  gap: 5%;
  font-family: "Open Sans", sans-serif;
}

.tabs-menu {
  display: flex;
  flex-direction: column;
}

.tab {
  border: none;
  padding: 45px;
  font-weight: bold;
  color: white;
  background: #333333;
  cursor: pointer;
  text-align: center;
  margin-top: 2px;
  font-family: "Open Sans", sans-serif;
}

.tab:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.tab:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.tab.active {
  background: #ff8c3a; /* Naranja */
}

.tab-content {
  max-width: 550px;
}

.tab-content h2 {
  margin-bottom: 20px;
  color: #333333;
}

.tab-content p {
  color: #B7B7B7;
  margin-bottom: 20px;
}

.download-btn {
  background: #ff8c3a;
  color: white;
  border: none;
  padding: 15px 25px;
  font-size: 1rem;
  border-radius: 3px;
  cursor: pointer;
}

.tab-image {
  max-width: 600px;
}

.sub-list-section {
  display: flex;
  padding: 10%;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  gap: 40px;
  align-items: center;
}

.sub-list-section .imagen-principal {
  justify-content: right;
  align-items: center;
}

.sub-list-section .imagen-principal img {
  width: 500px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}
.sub-list-section .text {
  max-width: 500px;
}

.sub-list-section .text h3 {
  font-size: 1.5rem;
  color: #333333;
}

.sub-list-section .text p {
  color: #B7B7B7;
}

.sub-list-section .text span {
  display: block;
  width: 70px;
  height: 2px;
  background: #ff8c3a;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sub-list-section .text .subParrafo {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 30px;
}

.sub-list-section .text .subParrafo .parrafo {
  display: flex;
  gap: 20px;
  align-self: center;
}

.sub-list-section .text .subParrafo .parrafo .imagen {
  align-self: center;
}

.sub-list-section .text .subParrafo .parrafo .imagen img {
  width: autopx;
  height: 40px;
}

.standard-Picture-Section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 10%;
  font-family: "Open Sans", sans-serif;
  background-color: #f5f5f5;
}

.standard-Picture-Section .text {
  width: 515px;
}

.standard-Picture-Section .text h3 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #333333;
}

.standard-Picture-Section .text span {
  display: block;
  width: 70px;
  height: 2px;
  background: #ff8c3a;
  margin-top: 20px;
  margin-bottom: 20px;
}

.standard-Picture-Section .text p {
  font-family: "Open Sans", sans-serif;
  color: #B7B7B7;
  margin-bottom: 15px;
  font-size: 1rem;
}

.standard-Picture-Section .imagen img {
  width: 500px;
  border-radius: 6px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

.features-section {
  padding: 10%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.features-section .features-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.features-section .features-header h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
}

.features-section .features-header span {
  display: block;
  width: 70px;
  height: 2px;
  background: #ff8c3a;
  margin-top: 20px;
  margin-bottom: 20px;
}

.features-section .features-header p {
  font-family: "Open Sans", sans-serif;
  color: #B7B7B7;
}

.features-section .features-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.features-section .features-list .feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  max-width: 412px;
  text-align: center;
  gap: 20px;
}

.features-section .features-list .feature-item p {
  color: #B7B7B7;
}
